In [14]:
# Dependencies
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from psycopg2 import sql

### Extract CSVs into DataFrames

In [15]:
Hatecrime_file = "Hatecrime.csv"
Hatecrime_df = pd.read_csv(Hatecrime_file)
Hatecrime_df.head()

   S/N  Precinct  Number Gender      Race  Age  Year  Quarter
0    0         6       1   Male  Hispanic   48  2017        1
1    1         7       2   Male     White   29  2017        1
2    2         7       3   Male     White   29  2017        1
3    3        14       4   Male  Hispanic   64  2017        1
4    4        14       5   Male  Hispanic   64  2017        1

In [16]:
Precincts_file = "precincts_zips.csv"
Precincts_df = pd.read_csv(Precincts_file)
Precincts_df.head()

,Unnamed: 0,Unnamed: 0.1,precinct_number,Phone,st_address,city,state,full_address,lat,lng,zipcode
0,0,0,1,212-334-0611,16 Ericsson Place,New York,NY,"16 Ericsson Place, New York, NY",40.720270,-74.007198,10013
1,1,1,5,212-334-0711,19 Elizabeth Street,New York,NY,"19 Elizabeth Street, New York, NY",40.716194,-73.997470,10013
2,2,2,6,212-741-4811,233 West 10 Street,New York,NY,"233 West 10 Street, New York, NY",40.734233,-74.005453,10014
3,3,3,7,212-477-7311,19 1/2 Pitt Street,New York,NY,"19 1/2 Pitt Street, New York, NY",40.716362,-73.983934,10002
4,4,4,9,212-477-7811,321 East 5 Street,New York,NY,"321 East 5 Street, New York, NY",40.644583,-73.975500,10003

In [17]:
Precincts_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'precinct_number', 'Phone', 'st_address',
       'city', 'state', 'full_address', 'lat', 'lng', 'zipcode'],
      dtype='object')

In [18]:
Felony_file = "felony_offenses.csv"
Felony_df = pd.read_csv(Felony_file)
Felony_df

,OFFENSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,MURDER & NON-NEGL. MANSLAUGHTER,673,649,587,597,570,539,596,496,523,471,536,515,419,335,333,352,335,292,295
1,RAPE,"2,068","1,981","2,144","2,070","1,905","1,858",1525,1351,1299,1205,1373,1420,1445,1378,1352,1438,1438,1449,1794
2,ROBBERY,"32,562","28,202","27,229","25,989","24,373","24,722",23739,21809,22401,18601,19486,19717,20144,19128,16539,16931,15500,13956,12913
3,FELONY ASSAULT,"25,924","23,453","21,147","19,139","18,622","17,750",17309,17493,16284,16773,16956,18482,19381,20297,20207,20270,20847,20052,20208
4,BURGLARY,"38,352","32,763","31,275","29,110","26,976","24,117",23143,21762,20725,19430,18600,18720,19168,17429,16765,15125,12990,12083,11687
5,GRAND LARCENY,"49,631","46,329","45,771","46,751","48,763","48,243",46625,44924,44242,39580,37835,38501,42497,45368,43862,44005,44279,43150,43558
6,GRAND LARCENY OF MOTOR VEHICLE,"35,442","29,531","26,656","23,413","20,884","18,246",15745,13174,12482,10670,10329,9314,8093,7400,7664,7332,6327,5676,5428
7,TOTAL SEVEN MAJOR FELONY OFFENSES,"184,652","162,908","154,809","147,069","142,093","135,475","128,682","121,009","117,956","106,730","105,115","106,669","111,147","111,335","106,722","105,453","101,716","96,658","95,883"

### Transform Hatecrime DataFrame

In [19]:
# Create a filtered dataframe from specific columns
Hatecrime_columns = ["Precinct", "Gender", "Race", "Age", "Year"]
Hatecrime_transformed = Hatecrime_df[Hatecrime_columns].copy()
Hatecrime_transformed

     Precinct  Gender      Race  Age  Year
0           6    Male  Hispanic   48  2017
1           7    Male     White   29  2017
2           7    Male     White   29  2017
3          14    Male  Hispanic   64  2017
4          14    Male  Hispanic   64  2017
5          14    Male  Hispanic   64  2017
6          14    Male  Hispanic   64  2017
7          14    Male  Hispanic   64  2017
8          14    Male  Hispanic   64  2017
9          14    Male  Hispanic   64  2017
10         14    Male  Hispanic   64  2017
11         14    Male     White   26  2017
12         14    Male     White   28  2017
13         19    Male     White   53  2017
14         20    Male  Hispanic   22  2017
15         22    Male     White   33  2017
16         52    Male     Black   40  2017
17         61    Male     White   25  2017
18         61    Male     Black   16  2017
19         71    Male     Black   11  2017
20         71    Male     Black   11  2017
21         75    Male     Black   28  2017
22         79    Male     Black   32  2017
23         79    Male     Black   32  2017
24         84    Male     White   36  2017
25         88    Male  Hispanic   60  2017
26         94    Male  Hispanic   32  2017
27        107    Male  Hispanic   28  2017
28        113    Male     White   57  2017
29        115    Male  Hispanic   38  2017
..        ...     ...       ...  ...   ...
375        42  Female     White   15  2019
376        61    Male     White   55  2019
377        61    Male     White   55  2019
378        68    Male     White   21  2019
379        70    Male     White   41  2019
380        70    Male     White   34  2019
381        71  Female     Black   52  2019
382        75    Male     White   46  2019
383        75    Male     White   46  2019
384        75    Male     White   37  2019
385        81    Male     Black   26  2019
386        84    Male     White   48  2019
387        88    Male     White   47  2019
388        90    Male     Black   16  2019
389        94    Male     White   28  2019
390        94    Male     White   28  2019
391        94    Male     White   28  2019
392        94    Male     White   28  2019
393        94    Male     White   28  2019
394        94    Male     White   28  2019
395        94    Male     White   28  2019
396        94    Male     White   28  2019
397       101    Male     Black   14  2019
398       102    Male     Asian   37  2019
399       103    Male     White   55  2019
400       107  Female     Asian   23  2019
401       107    Male     Asian   21  2019
402       110  Female     White   24  2019
403       112  Female     White   43  2019
404       113    Male     Asian   61  2019

[405 rows x 5 columns]

In [20]:
# Rename the column headers
Hatecrime_transformed = Hatecrime_transformed.rename(columns={"Precinct": "id", "Gender":"Gender", "Race":"Race", "Age":"Age", "Year":"Year"})

In [21]:
# Clean the data by dropping duplicates and setting the index
Hatecrime_transformed.drop_duplicates("id", inplace=True)
Hatecrime_transformed.set_index("id", inplace=True)

In [22]:
Hatecrime_transformed.head()

   Gender      Race  Age  Year
id
6    Male  Hispanic   48  2017
7    Male     White   29  2017
14   Male  Hispanic   64  2017
19   Male     White   53  2017
20   Male  Hispanic   22  2017

### Transform precinct DataFrame

In [23]:
# Create a filtered dataframe from specific columns
Precincts_columns = ["precinct_number", "Phone","city", "full_address", "lat", "lng", "zipcode"]
Precincts_transformed = Precincts_df[Precincts_columns].copy()
Precincts_transformed

,precinct_number,Phone,city,full_address,lat,lng,zipcode
0,1,212-334-0611,New York,"16 Ericsson Place, New York, NY",40.720270,-74.007198,10013
1,5,212-334-0711,New York,"19 Elizabeth Street, New York, NY",40.716194,-73.997470,10013
2,6,212-741-4811,New York,"233 West 10 Street, New York, NY",40.734233,-74.005453,10014
3,7,212-477-7311,New York,"19 1/2 Pitt Street, New York, NY",40.716362,-73.983934,10002
4,9,212-477-7811,New York,"321 East 5 Street, New York, NY",40.644583,-73.975500,10003
5,10,212-741-8211,New York,"230 West 20th Street, New York, NY",40.742712,-73.998643,10011
6,13,212-477-7411,New York,"230 East 21st Street, New York, NY",40.736788,-73.982908,10010
7,14,212-239-9811,New York,"357 West 35th Street, New York, NY",40.753890,-73.994894,10001
8,17,212-826-3211,New York,"167 East 51st Street, New York, NY",40.756762,-73.970786,10022
9,18,212-767-8400,New York,"306 West 54th Street, New York, NY",40.764952,-73.985138,10019
10,19,212-452-0600,New York,"153 East 67th Street, New York, NY",40.767148,-73.963775,10065
11,20,212-580-6411,New York,"120 West 82nd Street, New York, NY",40.784181,-73.974986,10024
12,22,212-570-4820,New York,"100 86th St Transverse, New York, NY",40.778060,-73.952193,10024
13,23,212-860-6411,New York,"164 East 102nd Street, New York, NY",40.789181,-73.947217,10029
14,24,212-678-1811,New York,"151 West 100th Street, New York, NY",40.796506,-73.967346,10025
15,25,212-860-6511,New York,"120 East 119th Street, New York, NY",40.800697,-73.941103,10035
16,26,212-678-1311,New York,"520 West 126th Street, New York, NY",40.814741,-73.956406,10027
17,28,212-678-1611,New York,"2271-89 Frederick Douglass Blvd, New York, NY",40.752194,-73.993451,10027
18,30,212-690-8811,New York,"451 West 151st Street, New York, NY",40.828757,-73.943651,10031
19,32,212-690-6311,New York,"250 West 135th Street, New York, NY",40.815731,-73.945359,10030
20,33,212-927-3200,New York,"2207 Amsterdam Avenue, New York, NY",40.840689,-73.935707,10032
21,34,212-927-9711,New York,"4295 Broadway, New York, NY",40.851546,-73.935385,10033
22,40,718-402-2270,Bronx,"257 Alexander Avenue, Bronx, NY",40.810374,-73.925293,10454
23,41,718-542-4771,Bronx,"1035 Longwood Avenue, Bronx, NY",40.816325,-73.895656,10459
24,42,718-402-3887,Bronx,"830 Washington Avenue, Bronx, NY",40.822557,-73.911384,10451
25,43,718-542-0888,Bronx,"900 Fteley Avenue, Bronx, NY",40.823071,-73.869794,10473
26,44,718-590-5511,Bronx,"2 East 169th Street, Bronx, NY",40.837204,-73.919908,10452
27,45,718-822-5411,Bronx,"2877 Barkley Avenue, Bronx, NY",40.830860,-73.827341,10465
28,46,718-220-5211,Bronx,"2120 Ryer Avenue, Bronx, NY",40.853988,-73.900112,10457
29,47,718-920-1211,Bronx,"4111 Laconia Avenue, Bronx, NY",40.887545,-73.847512,10466
...,...,...,...,...,...,...,...
47,76,718-834-3211,Brooklyn,"191 Union Street, Brooklyn, NY",40.683818,-74.000220,11231
48,77,718-735-0611,Brooklyn,"127 Utica Avenue, Brooklyn, NY",40.674649,-73.930242,11213
49,78,718-636-6411,Brooklyn,"65 6th Avenue, Brooklyn, NY",40.680587,-73.974158,11217
50,79,718-636-6611,Brooklyn,"263 Tompkins Avenue, Brooklyn, NY",40.688814,-73.944843,11216
51,81,718-574-0411,Brooklyn,"30 Ralph Avenue, Brooklyn, NY",40.689665,-73.924455,11221
52,83,718-574-1605,Brooklyn,"480 Knickerbocker Avenue, Brooklyn, NY",40.698147,-73.917841,11237
53,84,718-875-6811,Brooklyn,"301 Gold Street, Brooklyn, NY",40.695548,-73.982917,11201
54,88,718-636-6511,Brooklyn,"298 Classon Avenue, Brooklyn, NY",40.690071,-73.960532,11205
55,90,718-963-5311,Brooklyn,"211 Union Avenue, Brooklyn, NY",40.706273,-73.950769,11211
56,94,718-383-3879,Brooklyn,"100 Meserole Avenue, Brooklyn, NY",40.726675,-73.953295,11222
57,100,718-318-4200,Queens,"92-24 Rockaway Beach Boulevard, Queens, NY",40.586248,-73.816477,11693
58,101,718-868-3400,Queens,"16-12 Mott Avenue, Queens, NY",40.602909,-73.749925,11691
59,102,718-805-3200,Queens,"87-34 118th Street, Queens, NY",40.698721,-73.831567,11418
60,103,718-657-8181,Queens,"168-02 P.O Edward Byrne Ave., Queens, NY",40.667336,-73.807361,11420
61,104,718-386-3004,Queens,"64-2 Catalpa Avenue, Queens, NY",40.704357,-73.893649,11385
62,105,718-776-9090,Queens,"92-08 222nd Street, Queens, NY",40.726225,-73.735144,11428
63,106,718-845-2211,Queens,"103-53 101st Street, Queens, NY",40.682174,-73.839718,11417
64,107,718-969-5100,Queens,"71-01 Parsons Boulevard, Queens, NY",40.729909,-73.810614,11365
65,108,718-784-5411,Queens,"5-47 50th Avenue, Queens, NY",40.743083,-73.954672,11101
66,109,718-321-2250,Queens,"37-05 Union Street, Queens, NY",40.762361,-73.827020,11354
67,110,718-476-9311,Queens,"94-41 43rd Avenue, Queens, NY",40.745219,-73.870069,11373
68,111,718-279-5200,Queens,"45-06 215th Street, Queens, NY",40.760244,-73.767781,11361
69,112,718-520-9311,Queens,"68-40 Austin Street, Queens, NY",40.722358,-73.851468,11375
70,113,718-712-7733,Queens,"167-02 Baisley Boulevard, Queens, NY",40.679801,-73.775686,11434
71,114,718-626-9311,Queens,"34-16 Astoria Boulevard, Queens, NY",40.769282,-73.915328,11103
72,115,718-533-2002,Queens,"92-15 Northern Boulevard, Queens, NY",40.756875,-73.875490,11369
73,120,718-876-8500,Staten Island,"78 Richmond Terrace, Staten Island, NY",40.644628,-74.077423,10301
74,121,718-697-8700,Staten Island,"970 Richmond Avenue, Staten Island, NY",40.623677,-74.150344,10314
75,122,718-667-2211,Staten Island,"2320 Hylan Boulevard, Staten Island, NY",40.574118,-74.105506,10306
76,123,718-948-9311,Staten Island,"116 Main Street, Staten Island, NY",40.511844,-74.250036,10307

In [24]:
# Rename the column headers
Precincts_transformed = Precincts_transformed.rename(columns={"precinct_number":"id", "Phone":"phone_number","city":"city", "full_address":"full_address", "lat":"Latitude", "lng":"Longitude", "zipcode":"Zipcode"})

# Clean the data by dropping duplicates and setting the index
Precincts_transformed.drop_duplicates("id", inplace=True)
Precincts_transformed.set_index("id", inplace=True)

Precincts_transformed.head()

,phone_number,city,full_address,Latitude,Longitude,Zipcode
id,,,,,,
1,212-334-0611,New York,"16 Ericsson Place, New York, NY",40.720270,-74.007198,10013
5,212-334-0711,New York,"19 Elizabeth Street, New York, NY",40.716194,-73.997470,10013
6,212-741-4811,New York,"233 West 10 Street, New York, NY",40.734233,-74.005453,10014
7,212-477-7311,New York,"19 1/2 Pitt Street, New York, NY",40.716362,-73.983934,10002
9,212-477-7811,New York,"321 East 5 Street, New York, NY",40.644583,-73.975500,10003

In [25]:
#####Transform offender DataFrame

In [26]:
Felony_df.columns

Index(['OFFENSE', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018'],
      dtype='object')

In [27]:
# Create a filtered dataframe from specific columns
Felony_columns = ["OFFENSE", "2017", "2018"]
Felony_transformed = Felony_df[Felony_columns].copy()
Felony_transformed.head()

                           OFFENSE   2017   2018
0  MURDER & NON-NEGL. MANSLAUGHTER    292    295
1                             RAPE   1449   1794
2                          ROBBERY  13956  12913
3                   FELONY ASSAULT  20052  20208
4                         BURGLARY  12083  11687

In [28]:
# Rename the column headers
Felony_transformed = Felony_transformed.rename(columns={"OFFENSE":"id", "2017":"Count_2017","2018":"Count_2018"})

# Clean the data by dropping duplicates and setting the index
Felony_transformed.drop_duplicates("id", inplace=True)
Felony_transformed.set_index("id", inplace=True)

Felony_transformed.head()

                                Count_2017 Count_2018
id
MURDER & NON-NEGL. MANSLAUGHTER        292        295
RAPE                                  1449       1794
ROBBERY                              13956      12913
FELONY ASSAULT                       20052      20208
BURGLARY                             12083      11687

### Create database connection

In [34]:
connection_string = "testuser:testpassword@localhost:5432/nyc_arrest_db"
engine = create_engine(f'postgresql://{connection_string}')

In [35]:
# Verify that there are no existing tables
engine.table_names()

['arrest_1718', 'Hatecrime_year', 'Hatecrime_mm', 'Precincts', 'Felony']

### Load DataFrames into database

In [36]:
Hatecrime_transformed.to_sql(name='Hatecrime', con=engine, if_exists='append', index=True)

In [37]:
Precincts_transformed.to_sql(name='Precincts', con=engine, if_exists='append', index=True)

In [38]:
Felony_transformed.to_sql(name='Felony', con=engine, if_exists='append', index=True)